<h2 class="mx-5 mt-5">メーカー一覧</h2>
<div class="container text-center">
  <%= form_with model: @manufacturer, url: admin_manufacturers_path do |f| %>
    <table class="table table-borderless mt-5">
      <tr>
        <th>メーカー追加</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "追加", class: "btn btn-success" %>
          <%= link_to "車種登録", admin_models_path, class: "btn btn-primary mx-3" %>
        </td>
      </tr>
    </table>
  <% end %>
  <h2></h2>

  <table class="table table-borderless mt-5">
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <th><%= manufacturer.name %></th>
        <td>
          <%= link_to "編集", edit_admin_manufacturer_path(manufacturer.id), class: "btn btn-success" %>
          <%= link_to "削除", admin_manufacturer_path(manufacturer.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>