<h2 class="mx-5 mt-3">My car編集</h2>
<div class="container text-center">
  <%= form_with model: @car, url: car_path, method: :patch do |f| %>
    <table class="table">
      <tr>
        <th>メーカー</th>
        <td><%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>車種</th>
        <td><%= f.select :model_id, options_from_collection_for_select(Model.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>タイプ</th>
        <td><%= f.select :type_id, options_from_collection_for_select(Type.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>年式(西暦)</th>
        <td><%= f.text_field :model_year %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td><%= f.file_field :car_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "編集完了", class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>