
<h2 class="mx-5 mt-3">My car登録</h2>
<% if @car.errors.any? %>
  <%= render 'public/shared/error_messages', hoge: @car %>
<% end %>
<div class="container text-center">
  <%= form_with model: @car, url: cars_path, method: :post do |f| %>
    <table class="table">
      <tr>
        <th>メーカー</th>
        <td><%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>車種</th>
        <td id="car_type_model" style="display:none"><%= f.select :model_id, options_from_collection_for_select(Model.all, :id, :name), class: "form-control" %></td>
      </tr>
      <tr>
        <th>タイプ</th>
        <td id="car_type_type"  style="display:none"><%= f.select :type_id, options_from_collection_for_select(Type.all, :id, :name), class: "form-control" %></td>
      </tr>
      <tr>
        <th>年式(西暦)</th>
        <td><%= f.text_field :model_year %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td><%= f.file_field :car_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "追加", class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
<script>
$(document).on('turbolinks:load', function () {

document.getElementById('car_manufacturer_id').addEventListener('change',function(e){
  console.log(e.target.value)
  if ( e.target.value == ''){
    document.getElementById('car_type_model').style.display="none";
  }
  else{
    console.log($('#car_type_model'));
    $.ajax({
      url: '/types/selected',
      type: "GET",
      data: {
        manufacturer_id: e.target.value,
        page_type: 'car'
      },
      dataType: 'script'
     });
  }
});


});
</script>