<h2 class="mx-5 mt-5">タイプ一覧</h2>
<div class="container text-center">
  <table class="table">
    <tr>
      <th>メーカー</th>
      <th>車種</th>
      <th>タイプ</th>
    </tr>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.model.manufacturer.name %></td>
        <td><%= type.model.name %></td>
        <td>
          <%= link_to edit_admin_type_path(type) do %>
            <%= type.name %>
          <% end %>
        </td>
        <td>
          <%= link_to "編集", edit_admin_type_path(type), class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th colspan="4" >
        <%= link_to "メーカー登録", admin_manufacturers_path, class: "btn btn-primary mt-5" %>
        <%= link_to "車種登録", admin_models_path, class: "btn btn-primary mt-5" %>
        <%= link_to "タイプ登録", new_admin_type_path, class: "btn btn-primary mt-5" %>
      </th>
    </tr>
  </table>
</div>
