<h2 class="mx-5 mt-5">新車種情報</h2>
<div class="slide_box mt-3">
  <div class="slide_image_box">
    <img src="/assets/none.jpg" id="slide_image" height="300">
    <div class="change_btn_right"><i class="fa-solid fa-angle-right" style="color: #a6a8a4;"></i></div>
    <div class="change_btn_left"><i class="fa-solid fa-angle-right fa-rotate-180" style="color: #a6a8a4;"></i></div>
  </div>
</div>
<h2 class="mx-5 mt-5">新着レビュー</h2>
<div class="text-center text-success">
  <%= flash[:success] %>
  <%= flash[:deleted] %>
</div>
<% @reviews.each do |review| %>
  <%= render "public/shared/reviews", review: review %>
<% end %>
<div class="container text-center mb-5">
  <%= link_to "レビューする", new_review_path, class: "btn btn-primary mt-5" %>
</div>
<%= paginate @reviews %>
<%= render "public/shared/arrow" %>

<script>
  const images = ['/assets/none.jpg', '/assets/zrv.jpg', '/assets/vezel.jpg', '/assets/fit.jpg', '/assets/typer.jpg'];
  let slideCount = 0;
  const next = document.querySelector('.change_btn_right');
  const prev = document.querySelector('.change_btn_left');

  next.addEventListener('click', function () {
  slideCount++;

  if (slideCount < images.length) {
  document.getElementById('slide_image').src = images[slideCount];
  }
  else {
  document.getElementById('slide_image').src = images[0];
  slideCount = 0
  }
  })

  prev.addEventListener('click', function () {
  slideCount--;
  if (slideCount >= 0) {
  document.getElementById('slide_image').src = images[slideCount];
  }
  else {
  document.getElementById('slide_image').src = images[images.length - 1];
  slideCount = images.length - 1
   }
   })

  setInterval(() => {
  slideCount++;
  if (slideCount < images.length) {
  document.getElementById('slide_image').src = images[slideCount];
  }
  else {
  document.getElementById('slide_image').src = images[0];
  slideCount = 0
  }
  }, 10000);
</script>