<h2 class="mx-5 mt-3">新着レビュー</h2>
<div class="text-center text-success">
  <%= flash[:success] %>
  <%= flash[:deleted] %>
</div>
<% @reviews.each do |review| %>
  <%= render "public/shared/reviews", review: review %>
<% end %>
<div class="container text-center mb-5">
  <%= link_to "レビューする", new_review_path, class: "btn btn-primary mt-5" %>
</div>
<%= paginate @reviews %>
<%= render "public/shared/arrow" %>