<h2 class="mx-5 mt-3">レビュー一覧</h2>
<div class="text-center text-success">
  <%= flash[:deleted]%>
</div>
<!--レビュー一覧-->
<% @reviews.each do |review| %>
        <% end %>
        <%= link_to "削除", admin_review_path(review), method: :delete, class: "btn btn-danger" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3>
            <%= review.type.model.manufacturer.name %></br>
            <%= link_to model_path(review.type.model) do %>
              <%= review.type.model.name %>
            <% end %>
          </h3>
          <p class="m-0"><%= review.type.name %></p></br>
          <p class="text-secondary"><%= l review.created_at %>に投稿</p></br>
          <font size="5"><%= review.title %></font></br>
          <p class="mt-2"><%= review.body %></p>
        </div>
      </div>
      <div class="col-md-3">
        <table class="table table-borderless">
          <tr>
            <td>デザイン</td>
            <td> <%= review.design %>/5</td>
        <% end %>
        <%= link_to "削除", admin_review_path(review), method: :delete, class: "btn btn-danger" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3>
            <%= review.type.model.manufacturer.name %></br>
            <%= link_to model_path(review.type.model) do %>
              <%= review.type.model.name %>
            <% end %>
          </h3>
          <p class="m-0"><%= review.type.name %></p></br>
          <p class="text-secondary"><%= l review.created_at %>に投稿</p></br>
          <font size="5"><%= review.title %></font></br>
          <p class="mt-2"><%= review.body %></p>
        </div>
      </div>
      <div class="col-md-3">
        <table class="table table-borderless">
          <tr>
            <td>デザイン</td>
            <td> <%= review.design %>/5</td>
          </tr>
          <tr>
            <td>運転性能</td>
            <td><%= review.driving_performance %>/5</td>
          </tr>
          <tr>
            <td>価格</td>
            <td><%= review.cost %>/5</td>
          </tr>
          <tr>
            <td>広さ</td>
            <td><%= review.size %>/5</td>
          </tr>
          <tr>
            <td>安全性能</td>
            <td><%= review.safety %>/5</td>
          </tr>
          <tr>
            <th>総合点数</th>
            <th><%= review.rate %>/5</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @reviews %>
<%= render "public/shared/arrow" %>
