<h2 class="mx-5 mt-5">レビュー投稿</h2>
<div class="container text-center">
  <%= form_with model: @review, local:true, url: reviews_path, method: :post do |f| %>
    <table class="table my-5">
      <tr>
        <th>メーカー</th>
        <td><%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>車種</th>
        <td><%= f.select :model_id, options_from_collection_for_select(Model.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>タイプ</th>
        <td><%= f.select :type_id, options_from_collection_for_select(Type.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
    </table>
      <div class="form_area my-5">
      <h5>評価</h5>
        <%= f.select :star, *[1..10], include_blank: true,　class: 'form-control' %>
      </div>
      <div class="form_area my-5">
        <h5>コメント</h5>
        <%= f.text_area :comment, class: "form-control"%>
      </div>
      <%= f.submit "投稿する", class: 'btn btn-success' %>
  <% end %>
</div>

