<h2 class="mx-5 m-3">レビュー投稿</h2>
<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container text-center">
  <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
    <table class="table">
      <tr>
        <th>メーカー</th>
        <td><%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name), include_blank: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th>車種</th>
        <td id="type_model" style="display:none"><%= f.select :model_id, options_from_collection_for_select(Model.all, :id, :name), class: "form-control" %></td>
      </tr>
      <tr>
        <th>タイプ</th>
        <td id="type_type"  style="display:none"><%= f.select :type_id, options_from_collection_for_select(Type.all, :id, :name), class: "form-control" %></td>
      </tr>
      <tr>
        <th>デザイン</th>
        <td>
          <%= f.select :design, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>運転性能</th>
        <td>
          <%= f.select :driving_performance, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>価格</th>
        <td>
          <%= f.select :cost, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>広さ</th>
        <td>
          <%= f.select :size, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>安全性能</th>
        <td>
          <%= f.select :safety, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>総評価</th>
        <td>
          <%= f.select :rate, *[1..5], include_blank: true, class: "form_control" %>
        </td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= f.text_area :body %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td><%= f.file_field :review_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "投稿する", class: "btn btn-success mt-3" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
<script>
$(document).on('turbolinks:load', function () {

document.getElementById('review_manufacturer_id').addEventListener('change',function(e){
  console.log(e.target.value)
  if ( e.target.value == ''){
    document.getElementById('type_model').style.display="none";
  }
  else{
    console.log($('#type_model'));
    $.ajax({
      url: '/types/selected',
      type: "GET",
      data: {
        manufacturer_id: e.target.value,
        page_type: 'review'
      },
      dataType: 'script'
     });
  }
});


});
</script>