<h2 class="mx-5 mt-3"><%= @manufacturer.name %>の車種一覧</h2>
<div class="container text-center">
  <table class="table">
    <tr>
      <th></th>
      <th>車種名</th>
      <th>価格</th>
    </tr>
    <% @manufacturer.models.each do |model| %>
      <tr>
        <td>
          <%= link_to model_path(model) do %>
            <%= image_tag model.get_model_image(80,80) %>
          <% end %>
        </td>
        <td>
          <%= link_to model_path(model) do %>
            <%= model.name %>
          <% end %>
        </td>
        <td><%= model.price %>円</td>
      </tr>
    <% end %>
  </table>
</div>