
<div class="container-fluid mt-5">
  <div class="row no-gutters">
    <div class="col-sm-4 col-md-3 p-2 bg-white">
      <h3 style="margin:0;"><%= @type.model.name %></h3></br>
      <h4 style="margin:0;"><%= @type.name %></h4></br>
      <p style="margin:0;", class="text-secondary"><%= @type.model.manufacturer.name %></p></br>
      <%= image_tag @type.model.get_model_image(200, 200), class: "center-block" %></br>
      <table class="table mt-4">
        <tr>
          <th>最大乗用人数</th>
          <td><%= @type.capacity %> 人</td>
        </tr>
        <tr>
          <th>排気量</th>
          <td><%= @type.displacement %> cc</td>
        </tr>
        <tr>
          <th>燃費 (WLTC)</th>
          <td><%= @type.fuel_consumption %> km/L</td>
        </tr>
        <tr>
          <th>燃料</th>
          <td><%= @type.fuel %></td>
        </tr>
        <tr>
          <th>価格</th>
          <td>¥ <%= @type.price.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%= @type.is_selling ? '販売中' : '販売停止中' %></td>
        </tr>
      </table>
      <h2>総合評価</h2>
      <% if @type.reviews.exists? %>
        <p>評価件数 <%= @type.reviews.count %>件</p>
        <table class="table">
          <tr>
            <th>デザイン</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.design %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
          <tr>
            <th>運転性能</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.driving_performance %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
          <tr>
            <th>価格</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.cost %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
          <tr>
            <th>広さ</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.size %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
          <tr>
            <th>安全性能</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.safety %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
          <tr>
            <th>総合点</th>
            <td>
              <% @type.reviews.each do |type| %>
                <% @total += type.rate %>
              <% end %>
              <%= @total / @type.reviews.count %>
              <% @total = 0 %>
            </td>
          </tr>
        </table>
      <% else %>
        <p>この車のレビューはまだありません</p>
      <% end %>
    </div>
    <div class="col-sm-8 col-md-9">
      <% if @type.reviews.exists? %>
        <% @reviews.each do |review| %>
          <%= render "public/shared/reviews", review: review %>
        <% end %>
      <% else %>
        <h4 class="ml-5">この車のレビューはまだありません</h4>
      <% end %>
      <div class="container text-center mb-5">
        <%= link_to "レビューする", new_review_path, class: "btn btn-primary mt-5" %>
      </div>
    </div>
  </div>
</div>
<%= render "public/shared/arrow" %>
