<h1 class="mx-5 mt-5"><%= @user.name %>のプロフィール</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(200,200) %>
    </div>
    <div class="col-md-8 border">
      <%= @user.introduct %>
    </div>
  </div>
  <% if @user == current_user %>
    <div class="mt-3">
      <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="row my-3">
    <table class="table">
      <tr>
        <th></th>
        <td></td>
        <td>車種</td>
        <td>タイプ</td>
        <td></td>
      </tr>
      <% @cars.each do |car| %>
        <% @count += 1 %>
        <tr>
          <th>My car No.<%= @count %></th>
          <td><%= image_tag car.get_car_image(200,200) %></td>
          <td><%= car.type.model.name %></td>
          <td>
            <%= link_to car_path(car) do %>
              <%= car.type.name %>
            <% end %>
          </td>
          <% if @user == current_user %>
          <td>
            <%= link_to "編集", edit_car_path(car), class: "btn btn-success" %>
            <%= link_to "削除", car_path(car), method: :delete, class: "btn btn-danger" %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <% if @user == current_user %>
    <%= link_to "My car追加", new_car_path, class: "btn btn-success mb-5" %>
  <% end %>
</div>