
<h1 class="mx-5 mt-5"><%= @user.name %>のプロフィール</h1>
<!--ユーザー画像とステータスメッセージ-->
<div class="container text-center">
  <div class="row mt-2">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(200,200) %>
      <%= render "public/shared/total_good", user: @user %>
      <p class="my-2">レビュー数：<%= @user.reviews.size %></p>
      <p>いいね数：<%= @total_good %></p>
    </div>
    <div class="col-md-3 user-achievement">
      <div class="total-review mr-2">
        <h3><%= @user.reviews.size %></h3></br>
        <p>レビュー数</p>
      </div>
      <div class="total-review ml-2">
        <h3><%= @total_good %></h3></br>
        <p>いいね数</p>
      </div>
    </div>
    <div class="col-md-5">
      <p class="text-black-50">ステータスメッセージ</p>
      <%= @user.introduct %>
    </div>
  </div>
  <% if @user == current_user %>
    <div class="mt-3">
      <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="row my-3">
    <!--My car一覧-->
    <% if @user.cars.exists? %>
      <table class="table">
        <tr>
          <th></th>
          <td></td>
          <td>メーカー</td>
          <td>車種</td>
          <td>タイプ</td>
          <td></td>
        </tr>
        <% @cars.each do |car| %>
          <% @count += 1 %>
          <tr>
            <th>My car No.<%= @count %></th>
            <td><%= image_tag car.get_car_image(100,100) %></td>
            <td>
              <%= link_to manufacturer_path(car.type.model.manufacturer) do %>
                <%= car.type.model.manufacturer.name %>
              <% end %>
            </td>
            <td>
              <%= link_to model_path(car.type.model) do %>
                <%= car.type.model.name %>
              <% end %>
            </td>
            <td>
              <%= link_to type_path(car.type) do %>
                <%= car.type.name %>
              <% end %>
            </td>
            <% if @user == current_user %>
            <td>
              <%= link_to "編集", edit_car_path(car), class: "btn btn-success" %>
              <%= link_to "削除", car_path(car), method: :delete, class: "btn btn-danger" %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </table>
      <!--ユーザーに登録された車がない時-->
    <% else %>
      <h5 class="mt-5">このユーザーのMy Carはありません</h3>
    <% end%>
  </div>
  <% if @user == current_user %>
    <%= link_to "My car追加", new_car_path, class: "btn btn-success mb-5" %>
  <% end %>
</div>