<!DOCTYPE html>
<html>
  <head>
    <title>MuchMatchCars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e8874e4cf4.js" crossorigin="anonymous"></script>
    <!--google font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Serif+Japanese">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="border-bottom shadow-sm bg-danger fixed-top">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container my-3">
          <%= link_to homes_top_path, class: "text-decoration-none" do %>
            <h1 class="site-name text-white">Much Match Cars</h1>
          <% end %>
          <!--ユーザーログイン後のヘッダー-->
          <% if user_signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item px-4 mx-2 rounded border btn btn-danger">
                <%= link_to "トップ", homes_top_path, class: 'nav-link text-white' %>
              </li>
faev cdz
                <%= link_to "ユーザー一覧", users_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
              </li>
            </ul>
          </div>
          <!--管理者ログイン後のヘッダー-->
          <% elsif admin_signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "投稿一覧", admin_reviews_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "タイプ一覧", admin_types_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
              </li>
            </ul>
          </div>
          <!--ログイン前のヘッダー-->
          <% else %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "about", homes_about_path, class: 'nav-link text-white text-white' %>
              </li>
              <li class="nav-item px-4 mx-2 rounded border btn btn-danger">
                <%= link_to "トップ", homes_top_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item px-3 mx-2 rounded border btn btn-danger">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
      </nav>
    </header>
    <body class="mb-auto mt-3">
      <!--ユーザーログイン時は検索ボックスを表示する-->
      <% if user_signed_in? %>
        <%= render 'public/searches/search' %>
      <% end %>
      <%= yield %>
    </body>
    <footer class="mt-5">
      <div class="text-center py-5 text-white bg-secondary">
        ©︎Kazuki Sakaue
      </div>
    </footer>
  </body>
</html>
